<div class="container">
    <div class="row mt-5">
        {{#if clientes}}
        <div class="col-md-3">
            <table class="text-center">
                <thead>
                    <tr class="table-dark">
                        <th>nombre</th>
                        <th>numero 1</th>
                        <th>numero 2</th>
                        <th>acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each clientes}}
                    <tr>
                        <td>{{cli_nombre}}</td>
                        <td>{{cli_celular}}</td>
                        <td>{{cli_celular2}}</td>
                        <td>
                            <div>
                                <a href="#" class="btn btn-warning">editar</a>
                                <a href="#" class="btn btn-succes">eliminar</a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class="table-dark">
                        <td colspan="4">REGISTRO DE CLIENTES</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{else}}
        <div class="card text-center mx-auto" style="width: 350px;">
            <div class="card-header">
                <h3>crear un cliente</h3>
            </div>
            <div class="card-body">
                <p>presiona este boton para crear un cliente</p>
                <a href="/registroCliente" class="btn btn-primary">ir a crear</a>
            </div>
        </div>
        {{/if}}
    </div>
</div>