<!-- Sección de Programación de Citas -->
<div class="container">
    <h2>Programar Citas</h2>
    <!-- Formulario para programar citas -->
    <!-- Este formulario debe incluir fecha, tipo de cita, mascota, veterinario, etc. -->
</div>

<!-- Sección de Historial Médico -->
<div id ="miBoton" class="container">
    <button onclick="mascota()"  >
        <h2>Historial medico de mascotas</h2>
    </button>
    <!-- Aquí se podría mostrar el historial médico de las mascotas del cliente -->
</div>

<!-- Sección para Veterinarios -->
<div class="container" >
    <button class="botonHorario" >
        <h2>Horario para Veterinarios</h2>
    </button>
    <!-- Aquí se podría mostrar el horario disponible para los veterinarios -->
    <!-- Mostrar las citas programadas, permitir actualizar registros médicos, etc. -->
</div>